@model SchoolManagement.Models.Class
@{
    ViewData["Title"] = "Cập nhật lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item h5">
            <a asp-action="Index">
                <i class="fas fa-graduation-cap"></i> Quản lý lớp học
            </a>
        </li>
        <li class="breadcrumb-item h5">Cập nhật lớp học</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <h2 class="text-center">Cập nhật thông tin lớp học</h2>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@modelError.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <form asp-action="Update" method="post">
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group mb-3">
                <label asp-for="ClassName">Tên lớp</label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description">Mô tả</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <a class="btn btn-dark" asp-action="Index">
                    <i class="fa-solid fa-chevron-left"></i> Quay lại
                </a>
                <input type="submit" value="Cập nhật" class="btn btn-primary m-3" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 