@{
    var actor = ViewBag.nameActor;
}
@{
    ViewData["Title"] = "Danh sách phim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item h5">
            <a asp-controller="Actor" asp-action="QLActor">
                <i class="fa-solid fa-user-secret"></i> Quản lý diễn viên
            </a>
        </li>
        <li class="breadcrumb-item h5">Danh sách phim thuộc diễn viên @actor</li>
    </ol>
</nav>
<section style="padding-top: 30px" class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Danh sách phim @actor</h2>
            <div class="card-tools">
                <a href="/Admin/QLProduct/AddProduct" class="btn btn-success">Thêm phim</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên phim</th>
                        <th>Quốc gia</th>
                        <th>Chất lượng</th>
                        <th>Ảnh </th>
                        <th>Năm phát hành</th>
                        <th>Lượt xem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
        </div>
        </tbody>
        </table>
    </div>
</section>